:host {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;

  #app-container {
    width: 100%;
    padding: 16px 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    #app-content {
      max-width: 1920px;
    }
  }
}
