$toolbar-height: 64px;

app-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    padding-top: $toolbar-height;
  }

  mat-sidenav-content {
    padding: $toolbar-height + 16px 16px 0 16px; // padding to accommodate toolbar and space out from sides
  }
}
