<div
  class=""
  [class]="'file-container ' + imageInfo().state"
  (dragover)="onDragOver($event)"
  (drop)="onFileDrop($event)"
>
  <input type="file" (change)="onFileChange($event)" accept="image/*" #fileInput hidden title="Hidden file input" />
  @switch (imageInfo().state) { @case ('valid') {
  <img [src]="imageInfo().url" class="valid" alt="Preview of the image" (click)="fileInput.click()" />
  } @case ('invalid') {
  <p class="invalid">Invalid file selected. Please choose an image file.</p>
  <button mat-raised-button (click)="fileInput.click()" type="button">
    <mat-icon>attach_file</mat-icon>
    Upload image
  </button>
  } @default {
  <p>Drag and drop an image or click the button</p>
  <button mat-raised-button (click)="fileInput.click()" type="button">
    <mat-icon>attach_file</mat-icon>
    Upload image
  </button>
  } }
</div>
