@switch (status()) { @case ('busy') {
<div class="centered-container">
  <h2>Loading posts</h2>
  <mat-spinner />
</div>
} @case ('error') {
<div class="centered-container">
  <h2>An error occurred while loading the post.</h2>
  <p>Could not load the requested post from the server.</p>
</div>
} @case ('ready') { @if(post(); as post) {
<div id="post-container">
  @if(post.status === 'processed' && post.imageUrl) {
  <img class="full-image mat-elevation-z8" [src]="post.imageUrl" [alt]="post.title" />
  } @else if (post.status === 'initial') {
  <div class="centered-container">
    <p>This post is currently being processed. Please wait or check back a bit later.</p>
    <mat-spinner />
  </div>
  }
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title class="title">{{ post.title }}</mat-card-title>
      <mat-card-subtitle>Posted by: {{ post.authorUserName }} on {{ post.createdAtUtc | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ post.description }}</p>
      <app-post-comments [post]="post" />
    </mat-card-content>
    @if (userName() === post.authorUserName) {
    <mat-card-actions>
      <button mat-button>
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
    }
  </mat-card>
</div>
} } }
