$app-background: #501270;
$nav-menu-background: #1c1c1c;

// accent colors
$accent-magenta: #9e39bc;
$accent-orange: #ad4f3c;

// reactions
$like: #dad489;
$funny: #83c5b1;
$crazy: #ca887c;
$wow: #c091d8;
