<button mat-icon-button [matMenuTriggerFor]="menu">
  @if (emailHash(); as emailHash) {
  <mat-icon>
    <app-gravatar [emailHash]="emailHash" [size]="24"></app-gravatar>
  </mat-icon>
  }
</button>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/posts/add" [disabled]="!userRoles().includes(contributor)">
    <mat-icon>add</mat-icon>
    <span>Create Post</span>
  </a>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
