@use "utils";

:host {
  height: 100%;
  @include utils.flex-col-center;

  mat-card {
    max-width: 400px;
    mat-card-header {
      margin-bottom: 2rem;
    }

    mat-card-content {
      margin-bottom: 1rem;
    }

    mat-card-actions {
      justify-content: space-between;
    }
  }
}
