@use "utils";

$card-width: 320px;

mat-card {
  max-width: $card-width;

  mat-card-header {
    .title,
    .description {
      max-width: $card-width - 64px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.image {
  width: 320px;
  height: 320px;
}
