@let post = postMatch();
<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <app-gravatar
      mat-card-avatar
      [emailHash]="post.authorEmailHash"
      shape="rounded"
      [matTooltip]="post.authorUserName"
    />
    <mat-card-title class="title">{{ post.title }}</mat-card-title>
    @if (post.description) {
    <mat-card-subtitle class="description">{{ post.description }}</mat-card-subtitle>
    }
  </mat-card-header>
  <a [routerLink]="post.slug">
    <img mat-card-image class="preview-image" [src]="imageUrl()" [alt]="post.title" />
  </a>

  <mat-card-actions>
    @for (reaction of reactions; track $index) {
    <app-post-reaction
      [postId]="post.id"
      [reaction]="reaction"
      [count]="post.reactions[reaction]"
      [userReaction]="post.userReaction"
    />
    }
    <span class="spacer"></span>
    <a mat-raised-button [matBadge]="post.commentCount || null" [routerLink]="post.slug" fragment="comments">
      Comments
    </a>
  </mat-card-actions>
</mat-card>
