<h1>
  @if (userName()) { Welcome, {{ userName() }}
  } @else { Welcome to Rate My Pet }
</h1>
<p class="introduction">
  Rate-My-Pet is a fun, social sharing site where you can share photos of your pets for the world to enjoy.
</p>
<div class="actions">
  <a mat-raised-button class="button" routerLink="/posts">View Latest Posts</a>
  @if (userRoles().includes(contributor)) {
  <a mat-raised-button class="button sign-up" routerLink="/posts/add">Create A New Post</a>
  } @else {
  <a mat-raised-button class="button sign-up" routerLink="/auth/register">Sign Up To Share</a>
  }
</div>
