<h2>{{ isEditing() ? "Edit your post" : "Create a new post" }}</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
  <mat-card>
    <mat-card-content>
      @if (!isEditing()) {
      <div class="image-upload-container">
        <app-image-upload (fileChange)="onImageFileChange($event)" />
      </div>
      }

      <!-- title -->
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Title of your post" required />
        <mat-error>
          Title is <strong>required</strong> and has a maximum length of <strong>50</strong> characters.
        </mat-error>
      </mat-form-field>

      <!-- description -->
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Short description of what's going on"
          required
        ></textarea>
      </mat-form-field>

      <!-- species -->
      <mat-form-field class="full-width">
        <mat-label>Species</mat-label>
        <mat-select formControlName="speciesId" placeholder="Select a species" required>
          @for (species of allSpecies(); track species.id) {
          <mat-option [value]="species.id">{{ species.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- tags -->
      <mat-form-field class="full-width">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #tagGrid formControlName="tags">
          @for(tag of formGroup.controls.tags.value; track $index) {
          <mat-chip-row (removed)="removeTag(tag)">
            {{ tag }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input placeholder="Add a tag" [matChipInputFor]="tagGrid" (matChipInputTokenEnd)="addTag($event)" />
        <mat-error> A maximum of 5 tags are allowed. </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      @if (isBusy()) {
      <mat-progress-bar mode="indeterminate" />
      } @else {
      <button mat-button type="submit" [disabled]="!formGroup.valid">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-button type="reset" [disabled]="formGroup.pristine" (click)="onResetForm()">
        <mat-icon>restart_alt</mat-icon>
        Reset
      </button>
      }
    </mat-card-actions>
  </mat-card>
</form>
