@if (isBusy()) {
<div class="centered-container">
  <h2>Loading posts</h2>
  <mat-spinner></mat-spinner>
</div>
} @else {
<app-search-controls />
<section id="posts">
  @for (match of matches(); track match.id) {
  <app-post-list-item [postMatch]="match" />
  } @empty {
  <div class="centered-container">
    <h2>No posts found</h2>
    <p>No posts found that match the search criteria.</p>
    <button mat-raised-button (click)="searchPosts()">Try again</button>
  </div>
  } @if (userRoles().includes(contributor)) {
  <a mat-fab matTooltip="Create Post" class="add-post-button" routerLink="add" title="Create Post">
    <mat-icon>add</mat-icon>
  </a>
  }
</section>
}
