:host {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card {
    mat-card-header {
      margin-bottom: 2rem;
    }

    mat-card-actions {
      justify-content: space-between;
    }
  }
}

.full-width {
  width: 100%;
}
