:host {
  margin: 8px 0;
  width: 100%;
  display: flex;

  .text {
    flex-grow: 1;
  }
}

p.content {
  margin: 0;
}

.content {
  font-size: 14px;
}

.info {
  font-size: 12px;
  color: #ce876a;
  .author {
    font-weight: bolder;
    color: white;
  }
}
