@if (comments().length > 0) {
<mat-tree #tree [dataSource]="comments()" [childrenAccessor]="getReplies" [trackBy]="trackBy">
  <!-- template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let comment" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <app-post-comment [comment]="comment" [postId]="postId()" />
  </mat-tree-node>

  <!-- template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let comment; when: hasReplies" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon>
        {{ tree.isExpanded(comment) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <app-post-comment [comment]="comment" [postId]="postId()" />
  </mat-tree-node>
</mat-tree>
} @else {
<p>This post doesn't have any comments yet. Be bold and make your mark!</p>
} @if (isLoggedIn()) {
<app-add-comment [postId]="postId()" />
} @else {
<p>You must be logged in to comment.</p>
}
