@if (total()) {
<h6>Comments ({{ total() }})</h6>
<mat-tree #tree [dataSource]="comments()" [childrenAccessor]="getReplies" [trackBy]="trackBy">
  <!-- template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let comment" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <app-post-comment [comment]="comment" />
  </mat-tree-node>

  <!-- template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let comment; when: hasReplies" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon>
        {{ tree.isExpanded(comment) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <app-post-comment [comment]="comment" />
  </mat-tree-node>
</mat-tree>
} @else {
<h6>No comments yet</h6>
}

<app-add-comment />
