<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a class="title" routerLink="/">{{ title }}</a>
  <span class="spacer"></span>
  <div class="user-content">
    @switch (status$ | async) { @case ('busy'){
    <mat-spinner diameter="20" />
    } @case ('loggedIn') {
    <app-user-menu />
    } @case ('loggedOut') {
    <a mat-flat-button routerLink="/auth/login">
      <mat-icon>login</mat-icon>
      Login
    </a>
    } }
  </div>
</mat-toolbar>
