@use "utils";

:host {
  height: 100%;
  @include utils.flex-col-center;

  mat-card {
    max-width: 400px;
    mat-card-header {
      margin-bottom: 2rem;
    }

    mat-card-content {
      .password-requirements {
        margin-top: 1rem;
        margin-bottom: 1rem;
        ul {
          list-style-type: none;
          li.good {
            color: rgb(64, 204, 64);
          }
        }
      }
    }

    mat-card-actions {
      justify-content: space-between;
    }
  }
}

.form-field {
  width: 100%;
  margin-bottom: 12px;
}
