mat-toolbar {
  margin-bottom: 24px;

  .title {
    margin-left: 8px;
    text-decoration: none;
    color: var(--mat-app-text-color, var(--mat-app-on-background, inherit));
  }

  .spacer {
    flex: 1 1 auto;
  }
}
